<a href="https://colab.research.google.com/github/nori0227/intro-to-R/blob/main/R_assignment.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [30]:
cat(system('python3 -c "from google.colab import drive\ndrive.mount()"', intern=TRUE), sep='\n', wait=TRUE)

Warning message in system("python3 -c \"from google.colab import drive\ndrive.mount()\"", :
“running command 'python3 -c "from google.colab import drive
drive.mount()"' had status 1”

TRUE

In [31]:
?system

In [32]:
install.packages("rgl", repos = "http://cran.rstudio.com/")
install.packages("ConsRank", repos = "http://cran.rstudio.com/")
library("ConsRank")

Installing package into ‘/usr/local/lib/R/site-library’
(as ‘lib’ is unspecified)

Installing package into ‘/usr/local/lib/R/site-library’
(as ‘lib’ is unspecified)

In [33]:
system("add-apt-repository -y ppa:marutter/rrutter")
system("add-apt-repository -y ppa:marutter/c2d4u")
system("apt-get update")
system("apt install -y r-cran-rstan")

In [34]:
x <- 12

In [35]:
# create vector of integers from 0 to 9
some_numbers <- c(0,1,2,3,4,5,6,7,8,9)

# alternatively 
some_numbers <- c(0:9)

some_numbers

 [1] 0 1 2 3 4 5 6 7 8 9

In [36]:
mean(some_numbers)

[1] 4.5

In [37]:
install.packages('tidyverse')

Installing package into ‘/usr/local/lib/R/site-library’
(as ‘lib’ is unspecified)

In [38]:
library(tidyverse)

In [39]:
paygap <- read.csv('/content/2019_2020.csv', header = TRUE)

In [40]:
head(paygap, n = 5)

  EmployerName                                         EmployerId
1 'PRIFYSGOL ABERYSTWYTH' AND 'ABERYSTWYTH UNIVERSITY' 19070
2 10 TRINITY SQUARE HOTEL LIMITED                      19455
3 1LIFE MANAGEMENT SOLUTIONS LIMITED                     687
4 1ST CHOICE STAFF RECRUITMENT LIMITED                 18136
5 1ST HOME CARE LTD.                                   17484
  Address
1 Aberystwyth University, Penglais, Ceredigion, SY23 3FL
2 5 Market Yard Mews, 194-204 Bermondsey Street, London, United Kingdom, SE1 3TQ
3 Ldh House St Ives Business Park, Parsons Green, St. Ives, Cambridgeshire, PE27 4AA
4 1ST CHOICE RECRUITMENT, 8 St. Loyes Street, Bedford, MK40 1EP
5 Real Life Options, 35 East Port, Dunfermline, Fife, Scotland, KY12 7LG
  PostCode CompanyNumber SicCodes              DiffMeanHourlyPercent
1 SY23 3FL RC000641                            11.5
2 SE1 3TQ  08064685      82990                  8.7
3 PE27 4AA 02566586      93110,\n93130,\n93290 11.0
4 MK40 1EP 07972006      78109                 -2.3
5 KY12 7LG SC272838      86900,\n88100         -2.0
  DiffMedianHourlyPercent DiffMeanBonusPercent DiffMedianBonusPercent ⋯
1 10.3                        NA                   NA                 ⋯
2 10.3                      29.6                 54.5                 ⋯
3 -0.5                      81.5                 94.2                 ⋯
4  0.0                    -114.8               -249.3                 ⋯
5  0.5                        NA                   NA                 ⋯
  FemaleUpperMiddleQuartile MaleTopQuartile FemaleTopQuartile
1 60.0                      62.0            38.0
2 21.1                      66.7            33.3
3 57.7                      44.2            55.8
4 37.1                      50.0            50.0
5 91.0                       9.0            91.0
  CompanyLinkToGPGInfo
1 https://www.aber.ac.uk/en/equality/genderpaygapreporting2019/ \n\nhttps://www.aber.ac.uk/cy/equality/gender-pay-gap/
2
3 https://www.1life.co.uk/gender-pay-gap
4 https://www.1stchoice.net/gender-pay-gap-report-2019/
5 https://reallifeoptions.org/
  ResponsiblePerson                              EmployerSize
1 Elizabeth Treasure (Vice-Chancellor)           1000 to 4999
2 Linda Stigter (Director of People and Culture) 250 to 499
3 Mark Braithwaite (Managing Director)           250 to 499
4 Gill Knight (MD)                               250 to 499
5 Ian Hardcastle (Chief Operating Officer)       250 to 499
  CurrentName
1 'PRIFYSGOL ABERYSTWYTH' AND 'ABERYSTWYTH UNIVERSITY'
2 10 TRINITY SQUARE HOTEL LIMITED
3 1LIFE MANAGEMENT SOLUTIONS LIMITED
4 1ST CHOICE STAFF RECRUITMENT LIMITED
5 1ST HOME CARE LTD.
  SubmittedAfterTheDeadline DueDate             DateSubmitted
1 False                     2020/04/05 00:00:00 2020/04/03 14:47:45
2 False                     2020/04/05 00:00:00 2020/03/19 15:51:20
3 False                     2020/04/05 00:00:00 2020/03/10 17:03:17
4 False                     2020/04/05 00:00:00 2020/01/24 09:37:01
5 False                     2020/04/05 00:00:00 2020/03/12 08:21:06

In [41]:
colnames(paygap)

 [1] "EmployerName"              "EmployerId"
 [3] "Address"                   "PostCode"
 [5] "CompanyNumber"             "SicCodes"
 [7] "DiffMeanHourlyPercent"     "DiffMedianHourlyPercent"
 [9] "DiffMeanBonusPercent"      "DiffMedianBonusPercent"
[11] "MaleBonusPercent"          "FemaleBonusPercent"
[13] "MaleLowerQuartile"         "FemaleLowerQuartile"
[15] "MaleLowerMiddleQuartile"   "FemaleLowerMiddleQuartile"
[17] "MaleUpperMiddleQuartile"   "FemaleUpperMiddleQuartile"
[19] "MaleTopQuartile"           "FemaleTopQuartile"
[21] "CompanyLinkToGPGInfo"      "ResponsiblePerson"
[23] "EmployerSize"              "CurrentName"
[25] "SubmittedAfterTheDeadline" "DueDate"
[27] "DateSubmitted"

In [42]:
dim(paygap)

[1] 6921   27

In [43]:
class(paygap)

[1] "data.frame"

In [44]:
class(paygap$DiffMeanHourlyPercent)

[1] "numeric"

In [45]:
bodytemp <- c(96.3,96.7,96.9,97,97.1,97.1,97.1,97.2,97.3,97.4,97.4,97.4,97.4,97.5,97.5,97.6,97.6,97.6,97.7,97.8,97.8,97.8,97.8,97.9,97.9,98,98,98,98,98,98,98.1,98.1,98.2,98.2,98.2,98.2,98.3,98.3,98.4,98.4,98.4,98.4,98.5,98.5,98.6,98.6,98.6,98.6,98.6,98.6,98.7,98.7,98.8,98.8,98.8,98.9,99,99,99,99.1,99.2,99.3,99.4,99.5,96.4,96.7,96.8,97.2,97.2,97.4,97.6,97.7,97.7,97.8,97.8,97.8,97.9,97.9,97.9,98,98,98,98,98,98.1,98.2,98.2,98.2,98.2,98.2,98.2,98.3,98.3,98.3,98.4,98.4,98.4,98.4,98.4,98.5,98.6,98.6,98.6,98.6,98.7,98.7,98.7,98.7,98.7,98.7,98.8,98.8,98.8,98.8,98.8,98.8,98.8,98.9,99,99,99.1,99.1,99.2,99.2,99.3,99.4,99.9,100,100.8)
gender <- c(1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2)
heartrate <- c(70,71,74,80,73,75,82,64,69,70,68,72,78,70,75,74,69,73,77,58,73,65,74,76,72,78,71,74,67,64,78,73,67,66,64,71,72,86,72,68,70,82,84,68,71,77,78,83,66,70,82,73,78,78,81,78,80,75,79,81,71,83,63,70,75,69,62,75,66,68,57,61,84,61,77,62,71,68,69,79,76,87,78,73,89,81,73,64,65,73,69,57,79,78,80,79,81,73,74,84,83,82,85,86,77,72,79,59,64,65,82,64,70,83,89,69,73,84,76,79,81,80,74,77,66,68,77,79,78,77)

cardiacdata <- data.frame(bodytemp = bodytemp,
                  gender = gender,
                  heartrate = heartrate)

In [46]:
head(cardiacdata, n = 5)

  bodytemp gender heartrate
1 96.3     1      70
2 96.7     1      71
3 96.9     1      74
4 97.0     1      80
5 97.1     1      73

In [47]:
colnames(cardiacdata)

[1] "bodytemp"  "gender"    "heartrate"

In [48]:
dim(cardiacdata)

[1] 130   3

In [49]:
class(cardiacdata)

[1] "data.frame"

In [50]:
class(cardiacdata$bodytemp)

[1] "numeric"

In [51]:
class(cardiacdata$heartrate)

[1] "numeric"

In [52]:
# extract element in 1st row and 3th column
cardiacdata[1,3]

[1] 70

In [53]:
# extract rows 5-7 from columns 1-3
cardiacdata[5:7,1:3]

  bodytemp gender heartrate
5 97.1     1      73
6 97.1     1      75
7 97.1     1      82

In [54]:
# extract column 'bodytemp' and assign to new object 'temperatures'
temperatures <- cardiacdata$bodytemp

In [55]:
# select columns 'gender' and 'heartrate' and assign to new object 'heartrates'
heartrates <- select(cardiacdata, gender, heartrate)

In [57]:
## append variable names with their respective units
# rename 'bodytemp' to 'bodytemp_degF'
cardiacdata <- rename(cardiacdata, bodytemp_degF = bodytemp)

# rename 'heartrate' to 'heartrate_bpm'
cardiacdata <- rename(cardiacdata, heartrate_bpm = heartrate)

In [58]:
head(cardiacdata)

  bodytemp_degF gender heartrate_bpm
1 96.3          1      70
2 96.7          1      71
3 96.9          1      74
4 97.0          1      80
5 97.1          1      73
6 97.1          1      75

In [59]:
# add new column with body temperature in degrees celsius
cardiacdata <- mutate(cardiacdata, bodytemp_degC = (bodytemp_degF - 32)*(5/9))

In [60]:
# change values in gender column to read "Female" and "Male" instead of 1 and 2
cardiacdata <- mutate(cardiacdata, gender = ifelse(gender == 1, 'Female', 
                                            ifelse(gender == 2, 'Male', NA)))

In [61]:
head(cardiacdata)

  bodytemp_degF gender heartrate_bpm bodytemp_degC
1 96.3          Female 70            35.72222
2 96.7          Female 71            35.94444
3 96.9          Female 74            36.05556
4 97.0          Female 80            36.11111
5 97.1          Female 73            36.16667
6 97.1          Female 75            36.16667

In [62]:
# filter for data from female subjects only
cardiacdata_female <- filter(cardiacdata, gender == 'Female')

In [63]:
cardiacdata <- cardiacdata %>%
  filter(gender == 'Female') %>%
  select(-gender) %>%
  mutate(bodytemp_Kelvin = bodytemp_degC + 273)

In [64]:
head(cardiacdata)

  bodytemp_degF heartrate_bpm bodytemp_degC bodytemp_Kelvin
1 96.3          70            35.72222      308.7222
2 96.7          71            35.94444      308.9444
3 96.9          74            36.05556      309.0556
4 97.0          80            36.11111      309.1111
5 97.1          73            36.16667      309.1667
6 97.1          75            36.16667      309.1667

In [65]:
bodytemp <- c(96.3,96.7,96.9,97,97.1,97.1,97.1,97.2,97.3,97.4,97.4,97.4,97.4,97.5,97.5,97.6,97.6,97.6,97.7,97.8,97.8,97.8,97.8,97.9,97.9,98,98,98,98,98,98,98.1,98.1,98.2,98.2,98.2,98.2,98.3,98.3,98.4,98.4,98.4,98.4,98.5,98.5,98.6,98.6,98.6,98.6,98.6,98.6,98.7,98.7,98.8,98.8,98.8,98.9,99,99,99,99.1,99.2,99.3,99.4,99.5,96.4,96.7,96.8,97.2,97.2,97.4,97.6,97.7,97.7,97.8,97.8,97.8,97.9,97.9,97.9,98,98,98,98,98,98.1,98.2,98.2,98.2,98.2,98.2,98.2,98.3,98.3,98.3,98.4,98.4,98.4,98.4,98.4,98.5,98.6,98.6,98.6,98.6,98.7,98.7,98.7,98.7,98.7,98.7,98.8,98.8,98.8,98.8,98.8,98.8,98.8,98.9,99,99,99.1,99.1,99.2,99.2,99.3,99.4,99.9,100,100.8)
gender <- c(1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2)
heartrate <- c(70,71,74,80,73,75,82,64,69,70,68,72,78,70,75,74,69,73,77,58,73,65,74,76,72,78,71,74,67,64,78,73,67,66,64,71,72,86,72,68,70,82,84,68,71,77,78,83,66,70,82,73,78,78,81,78,80,75,79,81,71,83,63,70,75,69,62,75,66,68,57,61,84,61,77,62,71,68,69,79,76,87,78,73,89,81,73,64,65,73,69,57,79,78,80,79,81,73,74,84,83,82,85,86,77,72,79,59,64,65,82,64,70,83,89,69,73,84,76,79,81,80,74,77,66,68,77,79,78,77)

cardiacdata <- data.frame(bodytemp = bodytemp,
                  gender = gender,
                  heartrate = heartrate)

In [66]:
# extract column 'bodytemp' and assign to new object 'temperatures'
temperatures <- cardiacdata$bodytemp
# select columns 'gender' and 'heartrate' and assign to new object 'heartrates'
heartrates <- select(cardiacdata, gender, heartrate)
## append variable names with their respective units
# rename 'bodytemp' to 'bodytemp_degF'
cardiacdata <- rename(cardiacdata, bodytemp_degF = bodytemp)
# rename 'heartrate' to 'heartrate_bpm'
cardiacdata <- rename(cardiacdata, heartrate_bpm = heartrate)
# add new column with body temperature in degrees celsius
cardiacdata <- mutate(cardiacdata, bodytemp_degC = (bodytemp_degF - 32)*(5/9))
# change values in gender column to read "Female" and "Male" instead of 1 and 2
cardiacdata <- mutate(cardiacdata, gender = ifelse(gender == 1, 'Female', 
                                            ifelse(gender == 2, 'Male', NA)))

In [67]:
cardiacdata_byGender <- cardiacdata %>%
  group_by(gender) %>%
  summarize(avg_bodytemp_degF = mean(bodytemp_degF),
            avg_bodytemp_degC = mean(bodytemp_degC), 
            avg_heartrate_bpm = mean(heartrate_bpm))
In [99]:

ERROR: ignored

In [ ]:
some_numbers <- c(4,5,6,7,NA,8)

In [ ]:
mean(some_numbers)

In [ ]:
mean(some_numbers, na.rm = TRUE)

In [ ]:
ggplot(data = cardiacdata, mapping = aes(x = bodytemp_degC)) + 
  geom_histogram(bins = 20)

In [ ]:
ggplot(data = cardiacdata, mapping = aes(x = bodytemp_degC)) + 
  geom_histogram(bins = 20, aes(y = ..density..))

In [ ]:
ggplot(data = cardiacdata, mapping = aes(x = bodytemp_degC)) + 
  geom_histogram(bins = 20, aes(y = ..density..), fill = 'lightblue') +
  xlab('body temperature (celsius)') +
  ggtitle('distribution of body temperatures') +
  theme_light()

In [ ]:
ggplot(data = cardiacdata, mapping = aes(x = heartrate_bpm, y = bodytemp_degC)) + 
  geom_point() +
  theme_light()

In [ ]:
ggplot(data = cardiacdata, mapping = aes(x = heartrate_bpm, y = bodytemp_degC, color = gender)) + 
  geom_point() +
  theme_light()

In [ ]:
ggplot(data = cardiacdata, mapping = aes(x = gender, y = bodytemp_degC)) +
  geom_boxplot() +
  xlab('gender') +
  ylab('body temperature (celsius)') +
  theme_light()

# New Section